//colors
$white				: #ffffff;
$black				: #000000;
$green				: #92C73D;
$green-hover 		: #609B03;
$gray 				: #475964;
$dark-gray			: #1C2E37;
$medium-gray		: #A8B7C7;
$light-gray			: #DDE0E7;
$backing-gray		: #EEEEF2;
$form-field-gray	: #F9F9FB;
$blue 				: #3E92BA;
$blue-hover			: #135E82;
$placeholder		: #ADBDE1;
$red 				: #E63854;
$orange				: #FF731A;

// breakpoints
$mobile-portrait	: 480px;
$mobile-small		: 560px;
$mobile-extra-small : 360px;
$mobile 			: 800px;
$desktop			: 1350px;
$tablet 			: 1200px;
$nav-break 			: 1000px;
$retina 			: 1.5;
$retina-hd 			: 2.5;


// base variables
$base-ff: "Poppins", -apple-system, BlinkMacSystemFont, 'Helvetica', Roboto, sans-serif;